
.top-nav {
  padding: 10px 0;
  display: block;
  text-align: right;
}

.footer-navbar {
  text-align: center;
  padding: 30px;
  display: block;
  a:hover {
    text-decoration: underline;
    display: inline-block;
  }
}
