@import "footer";

html, body, p {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  font-family: Arial;
  width: 100vw;
  overflow-x: hidden;
}

h1.logo {
  font-size: 44px;
  font-weight: 700;
  color: gold;
  text-shadow: black 0.001em 0.001em 0.001em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-top: 50px;
  margin-bottom: 40px;
}

h2 {
  color: gold;
  text-shadow: black 0.01em 0.01em 0.01em;
  text-align: center;
}

p {
  color: #000;
  text-align: center;
  margin: 0 20% 0 20%;
}



a {
  color: black;
  text-decoration: none;
}



.c {
  clear: both;
}

#topnav {
  text-align: center;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  font-size: 18px;
  min-height: 38px;
  line-height: 200%;
}

.menu>li {
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  border-right: 1px dashed #fff;
}

.menu>li:first-child {
  border-left: 1px dashed #fff;
}

.menu a {
  color: #fff;
  text-decoration: none;
}

.menu a:hover {
  color: gold;
}

#top-box {
  background-color: black;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  margin: 0px 0% 0% 0%;
  padding: 0%;
  background-image: url('/static/image/background.png');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.fa {
  padding: 30px 20px 20px 20px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  float: left;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
  float: left;
  text-align: center;
}

#scene {
  width: 100vw;
  height: 300px;
}

#br {
  width: 100%;
  height: 100%;
  background-image: url('/static/image/gate.png');
  background-size: 240px;
  background-repeat: no-repeat;
  background-position: center;
}

.info {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 20px 0px 20px 0px;
  background-color: #ffffff;
  position: center;
  float: left;
}

.clear {
  clear: both;
}
